body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

#Omy {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width img {
    width: 100%;
}

.linked-button {
    text-decoration: none;
    background-image: radial-gradient(tomato, orange);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}

.dream-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.exp-item {
    width: 40%;
    margin: 0 5%;
    padding: 10px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
}

#pro {
    border-left: 7px solid orangered;
}

#baby {
    border-left: 7px solid blue;
}